@charset "UTF-8";
*{
    margin:0px;
    padding:0px;
}

header{
    text-align: center;
}

header img {
    width: 90px; 
    display: block; 
    margin: 0 auto; 
    padding: 5px;
}

main{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    min-width: 300px;
    max-width: 1000px;
    margin: auto; 
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#section {
    display: none; 
}

#ocultnorm , #ocultnorm1{
    display: none; 
}

#section h1{
    text-align: center;
    padding-bottom: 3px;
}

section{
    background-color:#4597607a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    min-width: 360px;
    max-width: 1690px;
    margin: auto; 
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px
}

.tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.tabela th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.tabela input,.tabela textarea {
    width: 95%;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
}

.tabela select {
    width: 97%;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    background-color: #fff;
}


.button {
    padding: 5px 10px;
    font-size: small;
    border: none;
    border-radius: 5px;
    background-color: #012E40; 
    color: #F2E3D5; 
}

.button:hover {
    background-color: #3CA6A6; 
    color: #F2E3D5; 
    cursor: pointer;
}

.button:active {
    background-color: #024959; 
    color: #f8f9fa; 
}

.centered-cell {
    text-align: center;
}

.button-container {
    text-align: center; 
}

.button2 {
    padding: 5px 10px;
    font-size: small;
    border: none;
    border-radius: 5px;
    background-color: #4AB36C; 
    color: #F2E3D5; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.button2:hover {
    background-color: #29A2D4; 
    color: #F2E3D5; 
}

.button2:active {
    background-color: #EC2028; 
}

.button2:focus {
    outline: none; 
}


.tabela2 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


.tabela2 td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.tabela2 th {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.tabela2 input,.tabela textarea {
    width: 66%;
    border: 1px solid #000000;
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.totnao {
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333; 
    font-size: 1.2em; 
}


#totatual, #atuali, #totjur, #totatt , #tot{
    font-weight: bolder;
}

h2{
    font-size: 1.2em;
    margin-bottom: 1.2rem;
    color: #13678A;
}


#section2 h2.tit {
    color: #13678A;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2em;
}

.tabela3 {
    width: 45%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.tabela3 td, .tabela3 th {
    border: 1px solid #000000;
    padding: 10px; /* Aumenta o espaçamento interno */
    text-align: center;
    font-size: 14px;
}

.tabela3 input,.tabela textarea {
    width: 50%;
    border: 1px solid #000000;
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}


#section3 ul {
    list-style-position: inside;
    list-style-type: "\01F468\01F3FD\200D\01F4BB";
    padding: 0;
}

#section3 li {
    margin-bottom: 5px;
}

#section3 input[type="text"]{
    width: 150px;
    font-size: 12px;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #00000073;
}

#section3 select {
    padding: 3px;
    font-size: 12px;
    border: 1px solid #00000073;
    border-radius: 5px;
    text-align: center;
    appearance: none; 
    width: 60px; 
} 

#section3 option {
    padding: 12px;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
}

#section3 option:focus {
    background-color: #f0f0f0;
}

#porcentagemadv{
    width: 80px;
}

#section3 button{
    width: 15px; 
    height: 15px; 
    border: none;
    border-radius: 50%; 
    background-color: #29A2D4; 
    color: white; 
    cursor: pointer; 
    text-align: center;
    margin: 1px;
}

#section3 button:hover {
    background-color: #4AB36C; 
    color: #F2E3D5; 
}

#section3 button:active {
    background-color: #EC2028; 
}

#totexeq{
    font-weight: bolder;
}

